.minVei {
    margin: 0;
    width: 70%;
}

.knapper {
    padding-top: 2em;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.besvar-container {
    margin: 5% 0;
}

.besvar-boks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C4DFE0;
    padding: 1% 2%;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: 2% 0 0 0;
}

.besvar-boks p {
    margin: 0;
}

.edit {
    border: none;
    background-color: transparent;
}

.editApen {
    border: 10px solid #C4DFE0;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 2%;
}



.radioknapp-rad {
    display: flex;
    align-items: center;
    padding: 0.5% 0;
}

.radioknapp-rad label {
    cursor: pointer;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
    margin-right: 2%;
    accent-color: #0067C5;
    cursor: pointer;
}

.sjekkboks {
    display: flex;
    align-items: center;
    padding: 0.5% 0;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-right: 2%;
    accent-color: #0067C5;
    cursor: pointer;
}