.meny {
    background-color: #115073;
    margin: 0 0 0 0;
    padding: 1.5% 0;
}

.logo {
    width: 8em;
}

.underBoks {
    height: 0.4em;
    background-color: #326987;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.changeLanguage p {
    color: #FFF;
}

.changeLanguage:hover p {
    color: lightgrey;
    cursor: pointer;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 255)' stroke-width='50' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: 3px solid rgba(255, 255, 255);
}
