body {

}

.overskrift1 {
    margin-top: 1%;
    margin-left: 10%;
    padding-bottom: 1%;
    color: #433E3E;
}

.overskrift2 {
    margin: 1% 10% 2% 10%;
    padding-top: 3%;
    border-bottom: solid 2px #645F5F;
    color: #433E3E;
}

.resultatside {
    padding: 0;
    margin: 0;
}

.resultatInnhold {
    padding: 5%;
}

.tilbakeKnappResultat {
    padding: 2% 5%
}

/*boksen med alle pliktene*/
.mine-plikter-del {
    background-color: #C4DFE0;
    padding: 2% 0;
}

.plikter {
    margin-left: 15%;
    border-left: 7px solid #F5AA74;
}

/*boksen med alle rettighetene*/
.mine-rettigheter-del {
}

/*for komponentene*/
.mine-rettigheter {
    margin-left: 15%;
}


/*boksen med all informasjonen*/
.informasjon-relevant-del {
}

/*komponentene*/
.informasjon-relevant {
    margin-left: 15%;
}


/*boksen med all informasjon om tiden fremover*/
.videre-fremover-del {
}

/*komponentene*/
.videre-fremover {
    margin-left: 15%;
}

/*selve resultat-containeren*/
.resultat-boks {
    justify-content: left;
    padding: 2%;
    margin: 2em 5%;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    width: 60%;
    max-width: 800em;
}

/*Her er det feil med bildet go sånt*/
.resultat-boks-overskrift {
    align-items: start;
    justify-content: space-between;
}

.resultat-boks-overskrift-dott {
    display: inline-flex;
}

.resultat-boks-overskrift-dott svg {
    position: absolute;
    left: 14.5%;
}

.resultat-boks-overskrift-tittel {
    overflow-wrap: break-word;
}

.resultat-boks-ikon {
    float: right;
    max-width: 6em;
    max-height: 6em;
    object-fit: contain;
}

.resultat-boks-hvorfor {
    color: #0067C5;
}

.resultat-hvorfor-knapp {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border: none;
    background-color: #FFF;
    color: #0067C5;
}

.hvorfor-forklaring {
    color: black;
    font-size: 0.85em;
    padding-left: 2%;
    margin-left: 11px;
    border-left: 2px solid #CFCFCF;
}

.resultat-boks-tekst {
    /*margin-right: 12%;*/
}

.fremover-boks {
    padding: 2%;
    margin: 2em 5%;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    width: 60%;
    max-width: 800em;
}

@media (max-width: 1023px) {
    .plikter, .mine-rettigheter, .informasjon-relevant, .videre-fremover {
        margin: 0 15%;
    }

    .resultat-boks, .fremover-boks {
        width: 90%;
    }

    .resultat-boks-overskrift-dott svg {
        left: 14.3%;
    }
}

@media (max-width: 767px) {
    .overskrift1 {
        margin-left: 5%;
    }

    .overskrift2 {
        margin-left: 5%;
    }

    .plikter, .mine-rettigheter, .informasjon-relevant, .videre-fremover {
        margin-left: 10%;
    }

    .resultat-boks-overskrift-dott svg {
        left: 9.1%;
    }
}

@media (max-width: 479px) {
    .mine-rettigheter, .informasjon-relevant, .videre-fremover {
        margin-left: 0;
    }
    .plikter {
        margin-left: 2%;
    }
    .resultat-boks, .fremover-boks {
        width: 105%;
    }

    .resultat-boks-overskrift-dott svg {
        left: 0.5%;
    }
}