.forside {
    margin: 2% auto 5% 20%;
}

.boks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.headline{
    margin-bottom: 2%;
    margin-top:1%;
    margin-left: 0;
    width: 100%;
}

.infotekst {
    padding: 2% 3% 4% 3%;
    max-width: 70%;
}

.knappContainer {
    max-width: 70%;
    display: flex;
    justify-content: space-between;
}

.knapp {
    margin-top: 4%;
    background-color: #C4DFE0;
    width: 10em;
    text-align: center;
    border: none;
}

.knapp:hover {
    background-color: #F5AA74;
}