.boks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    background-color: #F9F9F9;
    margin-left: 20%
}

.headline{
    /*border-style: dashed;
    border-color: red; */
    margin-bottom: 2%;
    margin-top:1%
}

/*Trenger shadow*/
.infotekst {
    /*padding-top: 5%;
    border-block-color: green;
    border: dotted;*/
    max-width: 50%;
    background-color: white;
    padding-bottom: 6%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.knappContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding-left: 20%;
    
}

.knapp {
    /*flex-direction:row;*/
    /*border: dotted;
    border-color: blue; */
    margin-top: 4%;
    align-items: center;
    background-color: #C4DFE0;
    margin-left: 10%;
    width: 150px;
    text-align: center;

    
}

